#questions {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
}

.question-display {
    border: 1px solid black;
    padding: 2rem;
    margin: 1rem auto;
    width: 80%;

}

.question-display h3 {
    margin-top: 0;
}

#submitBtn {
    width: 100px;
    height: 100px;
    background: greenyellow;
}

#error {
    display: none;
}

.underline {
    text-decoration: line-through;
}

@media screen and(min-width: 576px){

}