:root {
    --dark: #00272B;
    --medium: #1D8A99;
}

.header {
    background: var(--dark);
    padding: 1rem;
    color: white;
}

#questions {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
}

.question-display {
    text-align: center;
    border: 1px solid black;
    padding: 2rem;
    margin: 1rem auto;
    width: 60%;
}

.question-display2 {
    text-align: center;
    border: 1px solid black;
    padding: 2rem;
    margin: 1rem auto;
    width: 60%;
}

.question-display h3 {
    margin-top: 0;
}

.question-display input {
    width: 80%;
    background: var(--medium);
    color: white;
}

#submitBtn {
    width: 100px;
    height: 100px;
    background: greenyellow;
}

#error {
    display: none;
    text-align: center;
    border: 3px solid red;
    background: lightcoral;
    margin-top: 1rem;
}

#results {
    display: none;
    text-align: center;
    border: 3px solid green;
    background: lightgreen;
    margin-top: 1rem;
}

.underline {
    text-decoration: line-through;
}

@media screen and (min-width: 576px){
    .question-display {
        max-width: 330px;
    }

}

@media screen and (min-width: 768px){
    .question-display {
        max-width: 280px;
    }

}